<app-header titulo="{{titulo}}"></app-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>
        Escoger la fecha
      </ion-label>
      <ion-datetime></ion-datetime>
    </ion-item>

  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Datos de nacimiento</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Escoger la fecha1</ion-label>
      <ion-datetime placeholder="Escoge fecha"></ion-datetime>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      <ion-label>Datos de nacimiento</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Escoger la fecha2</ion-label>
      <ion-datetime display-format="DD MMM YYYY"
                    cancelText="Cancelarrrr!"
                    [ngModel]="fechaNaci.toISOString()"
                    (ionChange)="cambioFecha( $event )"></ion-datetime>
    </ion-item>


    <ion-list-header>
      <ion-label>Restricciones</ion-label>
    </ion-list-header>
    
    <ion-item>
      <ion-label>Min y Max</ion-label>
      <ion-datetime Placeholder="yyyy-mm-dd"
                    display-format="YYYY MMM DD"
                    min="2015-01-01"
                    max="2015-12-31"></ion-datetime>
    </ion-item>
    
    <ion-item>
      <ion-label>Años</ion-label>
      <ion-datetime Placeholder="YYYY"
                    display-format="YYYY"
                    min="2015"
                    max="2025"></ion-datetime>
    </ion-item>
    
    <ion-item>
      <ion-label>Options</ion-label>
      <ion-datetime [pickerOptions]="customPickerOptions"
                    [(ngModel)]="customDate"></ion-datetime>
    </ion-item>

  </ion-list>

</ion-content>
