<app-header [titulo]="titulo"></app-header>

<ion-content class="ion-fullscreen">

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Lorem ipsum dolor sit amet.
      </ion-card-title>
      <ion-card-subtitle>
        Lorem ipsum dolor sit.
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est commodi explicabo odit repellendus unde voluptate, id eveniet iusto minus ab in praesentium at quas excepturi deserunt et blanditiis nostrum veniam.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque quos doloremque, possimus delectus, minima, aliquid dignissimos perferendis expedita nostrum vel omnis libero saepe hic! Quisquam eius iste ducimus nostrum fuga?
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-img src="/assets/Miguel.png"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda cum dolor nostrum velit, porro et aliquam corporis, vel, voluptatem quidem nemo natus! Saepe quos cumque quas quis laudantium, cum fuga.
    </ion-card-content>
  </ion-card>


  <ion-card color="primary" mode="ios">
    <ion-card-header>
      <ion-card-title>
        Lorem ipsum dolor sit amet.
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Est commodi explicabo odit repellendus unde voluptate, id eveniet iusto minus ab in praesentium at quas excepturi deserunt et blanditiis nostrum veniam.
    </ion-card-content>
  </ion-card>

</ion-content>
